  html,
        body {
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
            background-image: url('../img/body.jpg');
            background-size: cover;
            background-position: center;
        }
        body.home {
            flex-wrap: wrap;
        }
        .logo.white-text {
                width: 48px;
                filter: invert(1);
                display: inline-block;
        }
        .padding25{
            padding: 25px;
        }
        .padding15 {
            
    padding: 15px;
        }
        .white {
            background: #fff;
        }
        .white-text {
            color: #fff;
        }
        /**
        Top
        */
        .top .login.links {
            margin: 15px 0;
        }
        .top .logo_slogan, .sidebar .logo_slogan {
            float: left;
            font-weight: 900;
            font-size: 1rem;
            padding: 15px 10px;
            color: #000;
            text-transform: uppercase;
        }
        .login.links span {
            color: #fff;
            vertical-align: middle;
        }
        /**
        Footer
        */
        .footer {
             background: #000000e8;
            justify-content: center;
            padding: 5px;
            color: #fff;
            align-items: center;
            width: 100%;
            margin: 0;
            position: absolute;
            bottom: 0;
        }        
        .mages_brand {
            max-height: 16px;
            display: inline-block;
            vertical-align: middle;
        }
        /**
        Content
        */
        .headline, .card-header {
            display: block;
                        background: #000000d4;
                        width: 100%;
                        padding: 10px;
                        font-weight: bold;
                        color: #fff;
        }
        .card {
            background: none;
        }
        .card-body {
            background: #fff;
        }
        .focus-text {
            color: #62c273;
            font-weight: 900;
        }
        .content-text {
            font-weight: 400;
                     font-size: 1rem;
                     text-align: left;
                     width: 100%;
                     padding: 10px 0;
        }
        span.material-icons {
            vertical-align: middle;
        }
        form label {
            display: block;
            text-align: left;
            font-weight: bold;
        }
        .raport-btn {
            padding: 20px 20px;
            margin: 20px 0 0 0;
            width:100%;
            color: #fff;
        }
        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .top-right {
            position: absolute;
            right: 0;
            top: 0;
            text-align: left;
            width: 100%;
        }

        .links a {
            color: #fff;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 0.7rem;
            font-family: inherit;
        }

        .login.links {
            margin: 15px 0;
            text-align: right;
        }

        .content {
            text-align: center;
            max-width: 75%;
            /* margin-top: 200px; */
            margin: auto;
            width:100%;
        }

        .title {
            font-size: 84px;
        }

        label {
            width: 100%;
            text-align: left;
            font-weight: bold;
            float: left;
        }

        .links>a {
            color: #fff;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }

        form {
            width: 100%;
        }

        .inline {
            display: inline-block;
            width: auto;
            margin: 0;
            padding: 0;
            width: 49.25%;
        }
        .logo_content {
            background: #000000;
            float: left;
            padding: 10px;
        }
        .logo_content .logo {
            width: 36px;
            float: left;
            display: inline-block;
            filter: invert(1);
        }
        .home.footer {
            position: absolute !important;
            bottom: 0 !important;
        }

        /**
        profil
        */
        .sidebar ul li a:hover {
            background: #eee;
        }
        
        .sidebar ul li a {
    display: block;
    width: 100%;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 10px;
    text-decoration: none;
}
.sidebar ul li {
    /* display: block; */
    list-style-type: square;
}
.sidebar {
    height: 100%;
    background: #fff;
    width: 25%;
    z-index: 9;
}
.sidebar .card {
    margin-top: 75px;
    border: 0;
}
.stats {
    margin:20px -15px;
}
.stats .col-md-4:nth-child(1) .card {
    border-left: 5px solid green;
    color:green;
}
.stats .col-md-4:nth-child(2) .card {
    color: #1878ff;
    border-left: 5px solid #1878ff;

}
    .stats .col-md-4:nth-child(3) .card {
        border-left: 5px solid #ed7633;
    color: #ff7800;

    }
    body.profil:before {
    content: " ";
    background-color: #000000d1 !important;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}